.table {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  overflow: hidden;

  box-shadow: var(--shadow-sm);
}

.tableHeader {
  background-color: var(--color-blue-primary);
  color: var(--color-white);
}

.body {
  background-color: var(--color-white);
}

.actionCircle {
  width: 8px;
  height: 8px;
  border-radius: 50%;

  background-color: var(--color-white);
}

.alignCenter {
  display: flex;
  align-items: center;
}
.photo {
  border-radius: 50%;
  object-fit: cover;
}

.tableEmpty {
  height: 400px;
  text-align: center;
  color: var(--color-gray-20);
}
.tableEmpty img {
  margin-bottom: var(--space-8);
  opacity: 0.5;
}
