.home {
  margin-bottom: var(--spacing-40);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--spacing-16);

  margin-top: var(--spacing-40);
  margin-bottom: var(--spacing-32);
}

.header h1 {
  flex: 1;
  font-weight: 500;
  font-size: 24px;
}

.header > div {
  width: 100%;
  max-width: 300px;
}
